@media screen and (min-width: 992px){

    /* CONTAINER */
    .container-lg {
        max-width: 1170px;
        margin: 0 auto;
    }

    /* COLUMN (12ths) */
    .col-lg {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }

    .col-lg-1 {
        --col-unit-n: 1;
    }

    .col-lg-2 {
        --col-unit-n: 2;
    }

    .col-lg-3 {
        --col-unit-n: 3;
    }

    .col-lg-4 {
        --col-unit-n: 4;
    }

    .col-lg-5 {
        --col-unit-n: 5;
    }

    .col-lg-6 {
        --col-unit-n: 6;
    }

    .col-lg-7 {
        --col-unit-n: 7;
    }

    .col-lg-8 {
        --col-unit-n: 8;
    }

    .col-lg-9 {
        --col-unit-n: 9;
    }

    .col-lg-10 {
        --col-unit-n: 10;
    }

    .col-lg-11 {
        --col-unit-n: 11;
    }

    .col-lg-12 {
        --col-unit-n: 12;
    }



    /* OFFSETS */
    .col-lg-off-1 {
        --col-off-unit-n: 1;
    }

    .col-lg-off-2 {
        --col-off-unit-n: 2;
    }

    .col-lg-off-3 {
        --col-off-unit-n: 3;
    }

    .col-lg-off-4 {
        --col-off-unit-n: 4;
    }

    .col-lg-off-5 {
        --col-off-unit-n: 5;
    }

    .col-lg-off-6 {
        --col-off-unit-n: 6;
    }

    .col-lg-off-7 {
        --col-off-unit-n: 7;
    }

    .col-lg-off-8 {
        --col-off-unit-n: 8;
    }

    .col-lg-off-9 {
        --col-off-unit-n: 9;
    }

    .col-lg-off-10 {
        --col-off-unit-n: 10;
    }

    .col-lg-off-11 {
        --col-off-unit-n: 11;
    }
}